<div class="row">
  <div class="col col-sm-8 col-md-8">
    <mat-tab-group [(selectedIndex)]="index">
      <ng-container *ngIf="isLogined">
        <mat-tab label="{{'home.label.your_feed' | translate}}">
          <app-your-feed></app-your-feed>
        </mat-tab>
      </ng-container>
      <mat-tab label="{{'home.label.global_feed' | translate}}">
        <app-global-feed></app-global-feed>
      </mat-tab>
      <ng-container *ngIf="labelTag">
        <mat-tab [label]="labelTag">
          <app-tag></app-tag>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
  <div class="col col-sm-4 col-md-4">
    <div class="sidebar">
      <p class="pt-2" style="padding-left: 10px" translate>home.title.popular_tag</p>
      <div class="d-flex justify-content-start flex-wrap">
        <span class="badge bg-secondary mt-2 me-1" *ngFor="let tag of tagList" style="cursor: pointer"
          (click)="clickTag(tag)">{{ tag }}
        </span>
      </div>
    </div>
  </div>
</div>