<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <h2 class="h3 text-center" translate>common.title.login</h2>
      <form [formGroup]="formLogin" novalidate>
        <div class="form-group">
          <label for="email" translate>common.label.email</label>
          <div>
            <input type="email" formControlName="email" class="form-control" />
            <p class="ps-2 alert-danger" *ngIf="f.email?.touched || isSubmit">
              <span *ngIf="f.email?.errors?.required" translate> common.validate.required.email</span>
              <span *ngIf="f.email?.errors?.pattern" translate> common.validate.pattern.email</span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="password" translate>common.label.password</label>
          <div>
            <input type="password" formControlName="password" class="form-control" />
            <p class="ps-2 alert-danger" *ngIf="(f.password?.touched  || isSubmit)&& f.password?.errors?.required"
              translate>
              common.validate.required.password
            </p>
          </div>
        </div>
        <div class="pt-2">
          <button class="btn btn-success" (click)="onSubmitForm()" translate>
            common.label.submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>